@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;500;600;700&family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;500;600;700&family=Permanent+Marker&display=swap');

:root {
    --fonte1: 'Rubik Moonrocks','cursive' ;
    --fonte2: 'Permanent Marker', 'cursive';
    --fonte3: verdana, 'Geneva' , tahoma , sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
   min-height: 100vh;
   background-color: rgb(46, 44, 44);
   font-family: var(--fonte3);
}

header {
    background-color: black;
    color:white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);

}

header > p {
    padding-bottom: 5%;

}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a , footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover , footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 3.5vw;
}

section > p {
   padding-bottom: 2em;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: left center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}
 
section.normal {
    background-color: white;
    color: black;
    

}

section.imagem {
    background-color:rgb(51, 51, 51);
    color: white;
    text-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color:rgb(96, 91, 91);
    text-shadow: 1px 1px 0px black;
}

section.imagem > p {
    background-color:rgba(14, 12, 12, 0.579)
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;

}